<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>Penn Dining</title>
</head>
<body>
    <ul id="navigation">
    <h1> Hill </h1>
    {% for x in hill %}
      {% print x %}
      <br>
      {% for y in hill[x] %}
        {% print y,': ' %}
        {% for z in hill[x][y] %}
          {% print z %}
          <br>
        {% endfor %}
        <br>
      {% endfor %}
    {% endfor %}
    <h1> Commons </h1>
    {% for x in commons %}
      {% print x %}
      <br>
      {% for y in commons[x] %}
        {% print y,': ' %}
        {% for z in commons[x][y] %}
          {% print z %}
          <br>
        {% endfor %}
        <br>
      {% endfor %}
    {% endfor %}
    <h1> King's Court </h1>
    {% for x in kings %}
      {% print x %}
      <br>
      {% for y in kings[x] %}
        {% print y,': ' %}
        {% for z in kings[x][y] %}
          {% print z %}
          <br>
        {% endfor %}
        <br>
      {% endfor %}
    {% endfor %}
    <h1> McClelland </h1>
    {% for x in mcclelland %}
      {% print x %}
      <br>
      {% for y in mcclelland[x] %}
        {% print y,': ' %}
        {% for z in mcclelland[x][y] %}
          {% print z %}
          <br>
        {% endfor %}
        <br>
      {% endfor %}
    {% endfor %}
    </ul>
</body>
</html>